{% extends 'base.html'%}
{% block title %}{% endblock%}
{% block content %}
<h1>Sign Up</h1>
<p> It's quick and easy. </p>
<form method="POST" >
    {{ form.hidden_tag() }}
{% for field in form 
 if field.widget.input_type !='hidden '%}

 <p> 
    {{field.label}}
    {{field(class_="form-control")}}

    {% for error in field.errors %}
    {{error }}
    {% endfor %}
 </p>
 {% endfor %}
 <div class="d-grid gap-2 d-md-block">
 <button class="btn btn-success text-light" type = "submit" >Sign Up</button>
 </div>
</form>
{% endblock%}